@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
}

body{
  background: #fbf9f9;
  font-family: Roboto;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container{
  position: relative;
  padding: 20px 50px;
}

.input{
  width: 40px;
  border: 3px solid #0a0001;
  background: transparent;
  padding: 15px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  color: #0c0000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000c02;
  font-family: Roboto;
  text-transform: uppercase;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000a03;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000500;
}

.close-btn{
  position: absolute;
  top: 21px;
  right: 50px;
  cursor: pointer;
  color: #fcfcfce9;
  background: #1c035b;
  border: 0px;
  width: 120px;
  height: 55px;
  border-radius: 50px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
}

.search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn-primary{
  background: rgb(73, 4, 138) !important;
}